{# {% extends 'template/layout.twig' %} #}

{% block content %}

<br />
<div class="center">
	<ul class="flex-container  white">
		<li class="tab" {% if selectedTab == 'dashboard' %} class="active" {% endif %}>
			<a title="Tableau de bord" href="index.php?p=admin&tab=dashboard"><i class="material-icons">dashboard</i></a>
			<p>Tableau de bord</p>
		</li>
		<li class="tab" {% if selectedTab == 'list' %} class="active" {% endif %}>
			<a title="Mes fiches" href="index.php?p=admin&tab=list"><i class="material-icons">view_list</i></a>
			<p>Mes Fiches</p>
		</li>
		<li class="tab" {% if selectedTab == 'write' %} class="active" {% endif %}>
			<a title="Ecrire" href="index.php?p=write"><i class="material-icons">edit</i></a>
			<p>Ecrire</p>
		</li>
		<li class="tab" {% if selectedTab == 'comments' %} class="active" {% endif %}>
			<a title="Commentaires" href="index.php?p=admin&tab=comments"><i class="material-icons">comment</i></a>
			<p>Les Commentaires</p>
		</li>
        <li class="tab" {% if selectedTab == 'settings' %} class="active" {% endif %}>
			<a title="Paramètres" href="index.php?p=admin&tab=settings"><i class="material-icons">settings</i></a>
			<p>Paramètres</p>
		</li>
	</ul>
</div>

{% endblock %}