{% extends 'template/layout.twig' %}

{% block content %}

<br />
<div class="container">
    {% include 'admin/admin-nav.twig' %}
    {% if selectedTab == 'dashboard' %} 
        {% include 'admin/dashboard.twig' %}
    {% elseif selectedTab == 'list' %}
        {% include 'admin/list-sheets.twig' %}
    {% elseif selectedTab == 'write' %}
        {% include 'admin/write.twig' %}
    {% elseif selectedTab == 'comments' %}
        {% include 'admin/comments.twig' %}
    {% elseif selectedTab == 'settings' %}
        {% include 'admin/settings.twig' %}
    {% endif %}
</div>

{% endblock %}