{% block content %}

<div class="row grey lighten-3">
	<div id="dashboard" class="col-xs-12">
        <div class="center">
			<h6>Bienvenue {{ _session.username }}</h6>
		</div>  
		<div class="center">
			<h3>Tableau de bord</h3>
		</div>  
		<div class="row">
			<div class="center">
                <div class="col l6 m6 s12">
                    <div class="card">
                        <div class="card-content green white-text">
                            <span class="card-title">FICHE(S)</span>
                            <h4>{{ datasheet|length }}</h4>
                        </div>
                    </div>
                </div>
			</div>	
        </div>
        <div class="center">
			<a class="btn btn-default btn-sm" onclick="return confirm('Etes vous sûr de vouloir vous déconnecter ?')" title="Se déconnecter" href="logout"><i class="material-icons left">exit_to_app</i>Se déconnecter</a></li>
        </div>
	</div>
</div>

{% endblock %}