{% extends 'template/layout.twig' %}

{% block content %}

<br />
<div class="container">
    {% include 'user/user-nav.twig' %}
    {% if selectedTab == 'dashboard' %}
        {% include 'user/userdashboard.twig' %}
    {% elseif selectedTab == 'list' %}
        {% include 'user/user-list-sheets.twig' %}
    {% elseif selectedTab == 'memberwrite' %}
        {% include 'user/userwrite.twig' %}
    {% elseif selectedTab == 'settings' %}
        {% include 'user/usersettings.twig' %}
    {% endif %}
</div>

{% endblock %}