{% block content %}

<br />
<div class="center">
	<ul class="flex-container  white">
		<li class="tab" {% if selectedTab == 'dashboard' %} class="active" {% endif %}>
			<a title="Tableau de bord" href="index.php?p=member&tab=dashboard"><i class="material-icons">dashboard</i></a>
			<p>Tableau de bord</p>
		</li>
		<li class="tab" {% if selectedTab == 'list' %} class="active" {% endif %}>
			<a title="Les fiches" href="index.php?p=member&tab=list"><i class="material-icons">view_list</i></a>
			<p>Les Fiches</p>
		</li>
		<li class="tab" {% if selectedTab == 'write' %} class="active" {% endif %}>
			<a title="Ecrire" href="index.php?p=member&tab=memberwrite"><i class="material-icons">edit</i></a>
			<p>Ecrire</p>
		</li>
		<li class="tab" {% if selectedTab == 'settings' %} class="active" {% endif %}>
			<a title="Paramètres" href="index.php?p=member&tab=settings"><i class="material-icons">settings</i></a>
			<p>Paramètres</p>
		</li>
	</ul>
</div>

{% endblock %}