{% extends 'template/layout.twig' %}

{% block content %}

<br />
<div class="container">
    {% include 'views/user/user-navtest.twig' %}
    {% if selectedTab == 'dashboard' %} {% include 'views/user/userdashboardtest.twig' %}
    {% elseif selectedTab == 'list' %} {% include 'views/user/user-list-sheetstest.twig' %}
    {% elseif selectedTab == 'write' %} {% include 'views/user/userwritetest.twig' %}
    {% elseif selectedTab == 'settings' %} {% include 'views/user/usersettingstest.twig' %}
    {% endif %}
</div>

{% endblock %}