{% block content %}

<div id="settings" class="center settings grey lighten-3">
	<div class="page-header">
		<h2>Réglages</h2>
	</div>

	<h4>Votre compte</h4>

	<h5>Suppression du compte</h5>
	<div class="center">
		<a class="btn btn-danger" onclick="return(confirm('Êtes-vous sûr de vouloir supprimer votre compte ?'));" href="index.php?p=member&amp;tab=settings&amp;action=deleteaccount">Supprimer votre compte</a>
	</div>
	<br />
	<div class="center">
		<a class="btn btn-default btn-sm" onclick="return confirm('Etes vous sûr de vouloir vous déconnecter ?')" title="Se déconnecter" href="index.php?p=logout"><i class="material-icons left">exit_to_app</i>Se déconnecter</a></li>
    </div>
</div>

{% endblock %}