{% extends 'template/layout.twig' %}

{% block content %}

<br />
<div id="about" class="container grey lighten-3 center">
	<div class="container">
		<div class="page-header">
            <h2>Formulaire de contact !</h2>
        </div>
        <br />
        <form method="POST" action="index.php?p=contact&action=postmessage">
            <input type="text" name="contactname" placeholder="Votre nom" value="{% if _post.contactname %} {{ _post.contactname }} {% endif %}" /><br /><br />
            <input type="email" name="contactmail" placeholder="Votre email" value="{% if _post.contactmail %} {{ _post.contactmail }} {% endif %}" /><br /><br />
            <textarea name="contactmessage" placeholder="Votre message">{% if _post.contactmessage %} {{ _post.contactmessage }} {% endif %}</textarea><br /><br />
            <input class="btn btn-default btn-sm" type="submit" value="Envoyer votre message" name="mailform"/>
        </form>
        <br />
        {% if msg %} 
            {{ msg }}
        {% endif %}
	</div>
</div>

{% endblock %}