{% extends 'template/layout.twig' %}

{% block content %}

<br />
<div id="error" class="container grey lighten-3">
	<div class="row">
		<div class="page-header">
			<h4 class="center">Désolé, cette page n'existe pas.</h4>
			<div class="center">
				<img id="sonic_error" src="http://localhost/PROJET5PERSO/public/img/sonic_error.gif">
			</div>
			<p id="titleDetail"><a class="btn black waves-effect" href="http://localhost/PROJET5PERSO/home">Retour à la page d'accueil</a></p>
		</div>
	</div>
</div>

{% endblock %}