{% extends 'template/layout.twig' %}

{% block content %}

<br />
<div id="quiz" class="container grey lighten-3">
	<div class="row center">

        <h2>Bienvenue sur le Quiz Game Gear</h2>
        <img id="ggquiz" src="{{generateURL('public/img/GGquiz.png')}}">
        <h4>Testez vos connaissances sur la portable de SEGA en 10 questions !</h4>
        <br />

        <form action="score" method='post' id='quizForm'>
            <ul>
                <li>
                <h6>En quelle année est sortie la console Game Gear au Japon ?</h6>
                
                <div>
                <input type='radio' name='answerOne' id='answerOne' value='A'>
                <label for='answerOneA'>1990</label>
                </div>
                
                <div>
                <input type='radio' name='answerOne' id='answerOne' value='B' />
                <label for='answerOneB'>1991</label>
                </div>
                
                <div>
                <input type='radio' name='answerOne' id='answerOne' value='C' />
                <label for='answerOneC'>Aucune idée</label>
                </div>
                </li>
                <br />
                
                <li>
                <h6>Quel était le prix de la console à sa sortie en France ?</h6>
                
                <div>
                <input type='radio' name='answerTwo' id='answerTwo' value='A' />
                <label for='answerTwoA'>790 Francs</label>
                </div>
                
                <div>
                <input type='radio' name='answerTwo' id='answerTwo' value='B' />
                <label for='answerTwoB'>890 Francs</label>
                </div>
                
                <div>
                <input type='radio' name='answerTwo' id='answerTwo' value='C' />
                <label for='answerTwoC'>990 Francs</label>
                </div>
                </li>
                <br />
                
                <li>
                <h6>Quel accessoire permettait de recevoir la TV sur la console</h6>
                
                <div>
                <input type='radio' name='answerThree' id='answerThree' value='A' />
                <label for='answerThreeA'>TV Tuner</label>
                </div>
                
                <div>
                <input type='radio' name='answerThree' id='answerThree' value='B' />
                <label for='answerThreeB'>TV Gear</label>
                </div>
                
                <div>
                <input type='radio' name='answerThree' id='answerThree' value='C' />
                <label for='answerThreeC'>SEGA TV</label>
                </div>
                </li>
                <br />
            
                <li>
                <h6>Combien de piles LR6 (1,5 Volts) étaient nécessaires ?</h6>
                
                <div>
                <input type='radio' name='answerFour' id='answerFour' value='A' />
                <label for='answerFourA'>4</label>
                </div>
                
                <div>
                <input type='radio' name='answerFour' id='answerFour' value='B' />
                <label for='answerFourB'>6</label>
                </div>
                
                <div>
                <input type='radio' name='answerFour' id='answerFour' value='C' />
                <label for='answerFourC'>8</label>
                </div>
                </li>
                <br />
            
                <li>
                <h6>Combien de consoles se sont vendues dans le monde entier ?</h6>
                
                <div>
                <input type='radio' name='answerFive' id='answerFive' value='A' />
                <label for='answerFiveA'>Environ 1 million</label>
                </div>
                
                <div>
                <input type='radio' name='answerFive' id='answerFive' value='B' />
                <label for='answerFiveB'>Environ 5 millions</label>
                </div>
                
                <div>
                <input type='radio' name='answerFive' id='answerFive' value='C' />
                <label for='answerFiveC'>Environ 10 millions</label>
                </div>
                </li>
                <br />
                
                <li>
                <h6>Quel jeu était fourni avec la première édition de la console ?</h6>
                
                <div>
                <input type='radio' name='answerSix' id='answerSix' value='A' />
                <label for='answerSixA'>Columns</label>
                </div>
                
                <div>
                <input type='radio' name='answerSix' id='answerSix' value='B' />
                <label for='answerSixB'>Sonic the Hedgehog</label>
                </div>
                
                <div>
                <input type='radio' name='answerSix' id='answerSix' value='C' />
                <label for='answerSixC'>Super Monaco GP</label>
                </div>
                </li>
                <br />
        
                <li>
                <h6>Quel fut le dernier jeu sorti sur la console ?</h6>
                
                <div>
                <input type='radio' name='answerSeven' id='answerSeven' value='A' />
                <label for='answerSevenA'>Tempo Jr</label>
                </div>
                
                <div>
                <input type='radio' name='answerSeven' id='answerSeven' value='B' />
                <label for='answerSevenB'>Super Battletank</label>
                </div>
                
                <div>
                <input type='radio' name='answerSeven' id='answerSeven' value='C' />
                <label for='answerSevenC'>Jurassic Park: The Lost World</label>
                </div>
                </li>
                <br />
                
                <li>
                <h6>La ludothèque comporte 4 jeux de la licence Sonic exclusifs à la console, lesquels ?</h6>
                
                <div>
                <input type='radio' name='answerEight' id='answerEight' value='A' />
                <label for='answerEightA'>Sonic Triple Trouble, Sonic Labyrinth, Sonic Drift et Sonic Drift 2</label>
                </div>
                
                <div>
                <input type='radio' name='answerEight' id='answerEight' value='B' />
                <label for='answerEightB'>Sonic Chaos, Sonic Spinball, Sonic Blast et Sonic Labyrinth</label>
                </div>
                
                <div>
                <input type='radio' name='answerEight' id='answerEight' value='C' />
                <label for='answerEightC'>Sonic Triple Trouble, Sonic Chaos, Sonic Drift et Sonic Drift 2</label>
                </div>
                </li>
                <br />
                
                <li>
                <h6>Quelle autre licence SEGA ne dispose pas de jeu exclusif sur Game Gear ?</h6>
                
                <div>
                <input type='radio' name='answerNine' id='answerNine' value='A' />
                <label for='answerNineA'>Shinobi</label>
                </div>
                
                <div>
                <input type='radio' name='answerNine' id='answerNine' value='B' />
                <label for='answerNineB'>Virtua Fighter</label>
                </div>
                
                <div>
                <input type='radio' name='answerNine' id='answerNine' value='C' />
                <label for='answerNineC'>Panzer Dragoon</label>
                </div>
                </li>
                <br />

                <li>
                <h6>Quel jeu a été annulé sur Game Gear ?</h6>
                
                <div>
                <input type='radio' name='answerTen' id='answerTen' value='A' />
                <label for='answerTenA'>Fatal Fury Special</label>
                </div>
                
                <div>
                <input type='radio' name='answerTen' id='answerTen' value='B' />
                <label for='answerTen'>Sailor Moon</label>
                </div>
                
                <div>
                <input type='radio' name='answerTen' id='answerTen' value='C' />
                <label for='answerTen'>Spirou</label>
                </div>
                </li>
                <br />
            </ul>
            <input type="submit" class="btn btn-default btn-sm" value="Valider le Quiz" />
            
        </form>
    </div>
</div>

{% endblock %}