{% extends 'template/layout.twig' %}

{% block content %}

<br />
<div id="score" class="container grey lighten-3">
	<div class="row center">
        <div id="wrapper">

            <h1>Résultat</h1>
            <img id="sonic_sing" src="{{generateURL('public/img/sonic_sing.gif')}}">
            <br />
            {% set answer1 = _post['answerOne'] %}
            {% set answer2 = _post['answerTwo'] %}
            {% set answer3 = _post['answerThree'] %}
            {% set answer4 = _post['answerFour'] %}
            {% set answer5 = _post['answerFive'] %}
            {% set answer6 = _post['answerSix'] %}
            {% set answer7 = _post['answerSeven'] %}
            {% set answer8 = _post['answerEight'] %}
            {% set answer9 = _post['answerNine'] %}
            {% set answer10 = _post['answerTen'] %}
            {% set score = 0 %}

            {% if answer1 == "A" %}
                {% set score = score + 1 %}
            {% endif %}
             {% if answer2 == "C" %}
                {% set score = score + 1 %}
            {% endif %}
             {% if answer3 == "A" %}
                {% set score = score + 1 %}
            {% endif %}
             {% if answer4 == "B" %}
                {% set score = score + 1 %}
            {% endif %}
             {% if answer5 == "C" %}
                {% set score = score + 1 %}
            {% endif %}
             {% if answer6 == "A" %}
                {% set score = score + 1 %}
            {% endif %}
             {% if answer7 == "B" %}
                {% set score = score + 1 %}
            {% endif %}
             {% if answer8 == "A" %}
                {% set score = score + 1 %}
            {% endif %}
             {% if answer9 == "B" %}
                {% set score = score + 1 %}
            {% endif %}
             {% if answer10 == "C" %}
                {% set score = score + 1 %}
            {% endif %}
            
            {% if _session.username %}
                <p>{{_session.username|e }}</p>
            {% else %}
                <p>Cher visiteur :</p>
            {% endif %}
            <p id='score-result' class='center'>Votre score est de<br> {{ score }}/10</p>

                {% if score > 0 and score <= 5 %}
                    <p class='center'>Pas terrible</p>
                {% elseif score > 5 and score < 10 %}
                    <p class='center'>Très bien</p>
                {% elseif score == 10 %}
                    <p class='center'>Waouh ! Parfait !</p>
                {% else %}
                    <p class='center'>Aïe Aïe Aïe</p>
                {% endif %}
                
            
            <a title="Quiz" class="btn btn-default btn-sm" href="{{generateURL('quiz')}}">Retour au quiz</a>
        </div>
    </div>
</div>

{% endblock %}