{% extends 'template/layout.twig' %}

{% block content %}

<br />
<div class="container grey lighten-3">
	<div class="row">
		<div class="class col l4 m6 s12 offset-l4 offset-m3">
            <br />
            <div class="center">
                <a class="btn btn-default btn-sm" href="http://localhost/PROJET5PERSO/home">Retour à l'accueil</a>
            </div>
            <br />
			<div class="card-panel">
				<div class="row">   
					<div class="col s6 offset-s3">
						<img id="admin-connection" src="public/img/user.png" alt="Membre">
					</div>
				</div>
			</div>
			<h4 class="center-align">Membre</h4>
			<form method="post">
				<div class="row">
					<div class="input-field col s12">
						<label for="pseudo">Pseudo</label>
						<input class="form-control" type="text" name="pseudo" id="pseudo"/>
					</div>

					<div class="input-field col s12">
						<label for="pass">Mot de passe</label>
						<input class="form-control" type="password" name="pass" id="pass"/>
					</div>
				</div>

				<div class="center">
					<button type="submit" name="submit" class="waves-effect waves-light btn btn-default btn-sm"><i class="material-icons left">person</i>Se connecter</button>
				</div>
			</form>
            <br />
		</div>
	</div>
</div>

{% endblock %}