{% extends 'template/layout.twig' %}

{% block content %}

<br />
<div id="users" class="container grey lighten-3 center">
    <h1>Bienvenue sur l'Espace Membres</h1>
        <img id="sonic_userspace" src="{{generateURL}}public/img/sonic_userspace.gif">
        <p>Connectez-vous ou inscrivez-vous!</p>        
        <div class="row">
            <a class="btn btn-default btn-sm" href="connection">Connexion</a>
            <a class="btn btn-default btn-sm" href="register">Inscription</a>
        </div>
</div>

{% endblock %}